.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  height: 100vh;
}

#grid-container {
  padding: 0px;
  max-width: 500px;
  min-height: 500px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.grid-border {
  background: white;
  padding: 15px;
}

.red-text {
  color: red;
}

.black {
  background: black;
}
