body {
  background: #E5E2C7;
}

.grid-box-16 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background: #EFE7CC;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.box-div {
  background-color: white;
}

.black-select {
  background-color: black;
}
